<div class="wrapper">
  <div class="wrapper-left wrapper-guest">
    <h1 class="splash-logo title-guest">Money<span>Tally</span></h1>
  </div>
  <div class="wrapper-right wrapper-guest">
    <%= link_to 'Log in' , new_user_session_path, class: 'button splash-button' %>
    <%= link_to 'Sign up' , new_user_registration_path, class: 'button splash-button' %>
  </div>
</div>
